<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C__Maturita_Practice</title>
</head>
<body>
    <header>
        <nav>
            <a href="/User/Register">Register</a>
            <a href="/User/Login">Login</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
    </footer>
</body>
</html>
