<h2>Login</h2>

<form method="post" action="/User/Login">
    <input type="text" name="Name" placeholder="Your username..." />
    <input type="password" name="Password" placeholder="Your password..." />
    <input type="submit" value="Login!" />
</form>