<h2>Create a note</h2>

<form method="POST" action="/Note/Create">
    <input required type="text" name="Title" placeholder="Title..." /> <br />
    <textarea required name="Text"></textarea> <br />
    <p>Is your note important?</p><input type="checkbox" name="IsImportant" /> <br />
    <input type="submit" value="Create!" />
</form>